*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.socialmedia{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.socialmedia>a{
    color: #eea2ff;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.about{
    padding: 30px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}
.aboutdoc{
    padding: 30px;
    gap: 25px;
    border-radius: 20px;
    border: 1px solid #9e6ea9;
    display: flex;
    flex-wrap: wrap;
}
.founders{
    padding: 30px;
    gap: 25px;
    border-radius: 20px;
    border: 1px solid #9e6ea9;
    display: flex;
    flex-wrap: wrap;
}
h1{
    font-size: 40px;
    font-weight: 100;
}
.founder1{
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}
h2{
    font-weight: 100;
    color: #f0b1ff;
}
.ceosocial{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.goals{
    padding: 30px;
    gap: 25px;
    border-radius: 20px;
    border: 1px solid #9e6ea9;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
footer{
    padding: 60px;
}
footer>a{
    text-decoration: none;
}